html {
    font-size: 100%;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: var(--lh-secondary);
    color: var(--clr-primary);
}

h1, h2 {
    line-height: 1;
}

p, li, figcaption {
    text-wrap: pretty;
}

img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

a, a:visited, a:active {
    text-decoration: none;
}